@charset "utf-8";

@keyframes shift {
  to {
    background-position: -100% 0;
  }
}
@keyframes crt-flicker {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*sub_bott*/

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes continue {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
/*ImgMove*/

@keyframes shift6 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}
.marquee-nav,
.marquee-nav_l {
  white-space: nowrap;
  display: flex;
  animation-name: kf_page_title;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: absolute;
  animation-play-state: running;
  top: 0;
  left: 0;
}
.marquee-nav_l {
  left: auto;
  top: 0;
  right: 0;
  animation-name: kf_page_title1;
}
@keyframes kf_page_title {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}
@keyframes kf_page_title1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
}
.pattern {
  display: inline-block;
  width: 0px;
  height: 0px;
  background-color: transparent;
  position: absolute;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in;
  transition-property: height, width, color, background-color, opacity;
  opacity: 0;
  background-size: cover;
  background-position: center center;
}
@keyframes shift-alt {
  to {
    background-position: -100% bottom;
  }
}
