@charset "utf-8";

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}
html,
body,
h1,
iframe {
  cursor: url(../img/icon_cursor_default.png), default !important;
}

a,
button,
iframe,
label {
  cursor: url(../img/icon_cursor_pointer.png), pointer !important;
}

/* 폰트 초기화 */
html {
  font-size: 0.625em;
}
body,
input,
textarea,
select,
button,
table {
  font-family: lores-9-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #222;
  line-height: 1.5;
  text-transform: uppercase;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  font-family: "lores-9-narrow", Gotham, Futura, "Helvetica Neue", Helvetica,
    Arial, "sans-serif";
}

/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

/* 버튼 초기화 */
button {
  border: 0;
  outline: none;
}
input {
  outline: none;
}

video,
img {
  width: 100%;
}

/* clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  line-height: 0;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* IR 효과 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
