@charset "utf-8";
html,
body {
	width: 100%;
	height: 100%;
}
._Default {
	padding: 0;
	border-bottom: none;
	font-weight: 900;
	text-decoration: none;
	text-align: left;
	text-indent: 0em;
	line-height: 1;
	letter-spacing: 0em;
}
/*레이아웃*/

.container {
	width: 100%;
	max-width: 1400px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 7vw;
}
#main_sec {
	height: 100vh;
	background-color: #FFF8F1;
	overflow: hidden;
}
#section1 {
	height: 100vh;
	background-color: #FFEFFD;
	overflow: hidden;
}
#section2 {
	background-color: #FFEFFD;
	overflow: hidden;
}
#section3 {
	background-color: #FFEFFD;
	overflow: hidden;
	padding-bottom: 100px;
}
#move_index {
	background-color: #fff7f1;
	overflow: hidden;
}
#site {
	padding: 150px 0 0;
	background-color: #282552;
	overflow: hidden;
}
#section6 {
	background-color: #FFEBEE;
	overflow: hidden;
}
#section7 {
	background-color: #ffeae2;
}
/*로딩*/

.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/loading1.gif) no-repeat;
	background-size: 58%;
	background-position: center;
	background-color: #FFEFFD;
	z-index: 1000;
}
.load_imogi {
	position: fixed;
	left: 0px;
	top: -30px;
	width: 100%;
	height: 100%;
	background-image: url(../img/sec2_imogi.gif);
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: center;
	z-index: 400;

}
/*-------------------------------------------------------*/
/*main*/

#main_sec .mText {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	-webkit-text-stroke-width: 0.15vw;
	-webkit-text-stroke-color: #F8BB1C;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
	text-align: center;
	white-space: nowrap;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 20;
}
#main_sec .menu_m {
    position: relative;
    height: 16vh;
    margin-bottom: 5px;
    font-size: 15vh;
    line-height: 16vh;
}
.menu_m .marquee-nav span,
.menu_m .marquee-nav_l span {
	display: inline-block;
	margin-right: 100px;
}
#main_sec .mImg {
	width: 60%;
	height: 85vh;
	margin: 0 auto;
	animation-fill-mode: backwards;
	animation-name: tilt;
	animation-duration: .2s !important;
	animation-delay: 0.8s, 1s;
	transform: scale(.7) rotate(0.5deg) translateY(10%);
	transition: opacity .5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
#main_sec .mImg > div {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	background: url(../img/main_moveF.gif) no-repeat;
	background-size: cover;
	background-position: center;
	transform: translate(-50%, -50%) rotate(3deg);
	z-index: 10;
}
.ha_link_btn, .work_link_btn{
    position: absolute;
    display: inline-block;
    left: 34%;
    bottom: 2vh;
    width: 26vh;
    height: 16vh;
}
.ha_link_btn{
    left: 57%; 
    width: 13vh;
    height: 16vh;
}
#main_sec .ha_link, #main_sec .work_link {
    display: inline-block;
    width: 100%;
    height: 100%;
	color: #707070;
	font-size: 20px;
    text-align: center;
    text-indent: -9999em;
    background: url(../img/star_mov.gif)no-repeat;
    background-size: auto 100%;
    filter: grayscale(100%) brightness(100%) sepia(70%) hue-rotate(-365deg) saturate(100%) contrast(.8);
    z-index: 20;
}
#main_sec .ha_link{
    background-image: url(../img/sec4_imogi.gif);
}
.ha_link_btn .link_box, .work_link_btn .link_box {
	display: none;
	position: absolute;
    left: -22vh;
    top: -40%;
	padding: 8px;
	border-radius: 8px;
	background:  #d3b406;
	color: #fff;
    font-size: 14px;
    transition: top 2s;
    animation: Simogi_H 1s infinite;
}
.ha_link_btn .link_box{
    right: -20vh;
    left: auto;
}
.ha_link_btn .link_box:after, .work_link_btn .link_box:after {
    content: " ";
    position: absolute;
    top: 95%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 15px;
    border-color: rgba(75, 0, 221, 0);
    border-top-color: #d3b406;
    transform: rotate(-10deg);
    pointer-events: none;
}
.ha_link_btn .link_box:after{
    transform: rotate(10deg);
}
#main_sec .ha_link:hover, #main_sec .work_link:hover{
    filter: none;
}

.ha_link:hover + .link_box, .work_link:hover + .link_box{
	display: block;
	font-size: 2.5vh;
	text-transform: none;
	line-height: 2;
}
/*-------------------------------------------------------*/
/*section1*/

.homehero {
	display: flex;
	position: relative;
	padding: 0;
	margin: 0;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}
#section1 .container {
	max-width: none;
	padding-bottom: 0;
}
#section1 .move_wave_bg {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23FB00DB' fill-opacity='.2' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-size: 100px 20px;
	background-repeat: repeat;
	background-position: 0 0;
	animation: shift 32s linear infinite;
	overflow: hidden;
}
#section1 .Tnav {
	position: relative;
	box-sizing: border-box;
	display: flex;
	width: 80%;
	max-width: 1400px;
	padding-top: 20px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	z-index: 50;
}
#section1 .Tnav a {
	display: inline-block;
	color: #FB00DB;
	font-size: 2rem;
}
#section1 .Tnav span:nth-child(odd) a {
	font-size: 1.5rem;
    font-weight: 300;
    transition: all .5s;
}
#section1 .Tnav span:nth-child(odd) a:hover{
    transform: scale(1.2);
}
#section1 .Tbox {
	display: flex;
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	flex-direction: column;
	align-items: center;
}
#section1 .Tmogi.marquee {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 400px;
	padding: 30px;
	overflow: visible;
	box-sizing: border-box;
	z-index: 1;
}
#section1 .Tmogi .wink {
	display: block;
	position: absolute;
	left: 0;
	top: -70px;
	width: 100%;
	height: 100%;
	background: url(../img/sec2_imogi.gif) no-repeat;
	background-size: contain;
	z-index: 1;
}
#section1 h2.about-headline {
	position: absolute;
	left: 50%;
	top: 45%;
	width: 100%;
	padding: 40px;
	color: #FB00DB;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #AA00FF;
	font-size: calc(4rem + 6.6vw);
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
	line-height: 1;
	outline: none !important;
	transform: translate(-50%, -40%) rotate(2deg)scale(1);
}
#section1 h2.about-headline:nth-child(2) {
	top: 25%;
}
#section1 h2 span {
	display: inline-block;
	transform: translateY(200px);
	opacity: 0;
}
/*section1 h2 폰트*/

.about-headline.yo.boo {
	font-family: 'comic sans', 'comic sans ms';
}
.about-headline.yo.hey {
	font-family: 'rosewood-std', Didot, Georgia, 'Times New Roman';
	-webkit-text-stroke-width: 1px;
	font-weight: 400;
}
.about-headline.yo.dude {
	font-family: 'Brush Script MT', cursive;
	-webkit-text-stroke-width: 0px;
	text-shadow: 1px 1px #AA00FF, -1px -1px #AA00FF;
}
.about-headline.yo.classes {
	font-family: 'Courier New', monospace;

}
.about-headline.yo.and {
	font-family: 'Arial Rounded MfillT Bold', 'Arial';

}
.about-headline.yo.junk {
	font-family: 'Papyrus';
	-webkit-text-stroke-width: 0px;
	text-shadow: 1px 1px #AA00FF, -1px -1px #AA00FF;
	font-size: calc(4rem + 4.6vw) !important;
	letter-spacing: 2 !important;
}
#section1 .Tarro {
	display: block;
	font-size: 4rem;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 80px;
	transform: translateX(-50%);
	color: #FB00DB;
	z-index: 5;
}
#section1 .Tarro span {
	display: inline-block;
	transform: rotate(90deg);
	animation-name: floating-arrow;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;

}
#section1 .Tarro:after {
	content: "Continue?";
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: 100px;
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: .05em;
	transform: translateX(-50%);
	animation: 700ms linear infinite continue;
	animation-fill-mode: backwards;
}
/*section1 배너*/

.banner {
	position: absolute;
	width: 100vh;
	height: 40px;
	padding: 0;
	background-color: #FFEFFD;
	font-size: 1.4rem;
	overflow: hidden;
	z-index: 3;
}
.banner-right {
	top: 0;
	left: 100%;
	transform: rotate(90deg);
	transform-origin: top left;
}
.banner-left {
	bottom: 0;
	left: 0;
	transform: rotate(-90deg) translateY(100%);
	transform-origin: left bottom;
}
.banner-bottom-marquee {
	width: 100%;
	bottom: 0;
	left: 0;
	transform: rotate(180deg);
}
.banner_inner {
	width: 100%;
	white-space: nowrap;
	margin-bottom: 0;
	margin-top: 0;
}
.banner_text {
	display: inline-block;
	margin-top: 10px;
	margin-right: 20px;
	color: #FB00DB;
}
.banner_text-bottom {
	display: inline-block;
	transform: rotate(180deg);
}
.banner:hover .banner_text {
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: inherit;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}
/*-------------------------------------------------------*/
/*section2*/

#section2 .container {
	max-width: 1500px;
	padding-top: 8vw;
	padding-bottom: 4vw;
	position: relative;
}
.sec2_nav {
	display: flex;
	width: 100%;
	text-align: center;
	margin: 0 auto 10px;
	justify-content: center;
	position: fixed;
	top: 0px;
	height: 83px;
	white-space: nowrap;
	box-sizing: border-box;
	flex-direction: column;
	z-index: 10;
	background: none;
	visibility: hidden;
}
.sec2_nav_bg {
	background-color: transparent;
	background-size: contain;
	margin: 0px auto 10px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='813px' height='84px' viewBox='0 0 813 84' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3ewavy_nav0%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='wavy_nav' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Group'%3e%3cpath d='M0,77 C12.4824242,70.3333333 24.8006061,70.3333333 36.9545455,77 C49.1084848,83.6666667 61.4266667,83.6666667 73.9090909,77 C86.3915152,70.3333333 98.709697,70.3333333 110.863636,77 C123.017576,83.6666667 135.335758,83.6666667 147.818182,77 C160.300606,70.3333333 172.618788,70.3333333 184.772727,77 C196.926667,83.6666667 209.244848,83.6666667 221.727273,77 C234.209697,70.3333333 246.527879,70.3333333 258.681818,77 C270.835758,83.6666667 283.153939,83.6666667 295.636364,77 C308.118788,70.3333333 320.43697,70.3333333 332.590909,77 C344.744848,83.6666667 357.06303,83.6666667 369.545455,77 C382.027879,70.3333333 394.346061,70.3333333 406.5,77 C418.653939,83.6666667 430.972121,83.6666667 443.454545,77 C455.93697,70.3333333 468.255152,70.3333333 480.409091,77 C492.56303,83.6666667 504.881212,83.6666667 517.363636,77 C529.846061,70.3333333 542.164242,70.3333333 554.318182,77 C566.472121,83.6666667 578.790303,83.6666667 591.272727,77 C603.755152,70.3333333 616.073333,70.3333333 628.227273,77 C640.381212,83.6666667 652.699394,83.6666667 665.181818,77 C677.664242,70.3333333 689.982424,70.3333333 702.136364,77 C714.290303,83.6666667 726.608485,83.6666667 739.090909,77 C751.573333,70.3333333 763.891515,70.3333333 776.045455,77 C788.199394,83.6666667 800.517576,83.6666667 813,77' id='line' stroke='%23FB00DB' stroke-width='3'%3e%3c/path%3e%3cpath d='M0,77.1075176 C12.4824242,70.5842078 24.8006061,70.5842078 36.9545455,77.1075176 C49.1084848,83.6308275 61.4266667,83.6308275 73.9090909,77.1075176 C86.3915152,70.5842078 98.709697,70.5842078 110.863636,77.1075176 C123.017576,83.6308275 135.335758,83.6308275 147.818182,77.1075176 C160.300606,70.5842078 172.618788,70.5842078 184.772727,77.1075176 C196.926667,83.6308275 209.244848,83.6308275 221.727273,77.1075176 C234.209697,70.5842078 246.527879,70.5842078 258.681818,77.1075176 C270.835758,83.6308275 283.153939,83.6308275 295.636364,77.1075176 C308.118788,70.5842078 320.43697,70.5842078 332.590909,77.1075176 C344.744848,83.6308275 357.06303,83.6308275 369.545455,77.1075176 C382.027879,70.5842078 394.346061,70.5842078 406.5,77.1075176 C418.653939,83.6308275 430.972121,83.6308275 443.454545,77.1075176 C455.93697,70.5842078 468.255152,70.5842078 480.409091,77.1075176 C492.56303,83.6308275 504.881212,83.6308275 517.363636,77.1075176 C529.846061,70.5842078 542.164242,70.5842078 554.318182,77.1075176 C566.472121,83.6308275 578.790303,83.6308275 591.272727,77.1075176 C603.755152,70.5842078 616.073333,70.5842078 628.227273,77.1075176 C640.381212,83.6308275 652.699394,83.6308275 665.181818,77.1075176 C677.664242,70.5842078 689.982424,70.5842078 702.136364,77.1075176 C714.290303,83.6308275 726.608485,83.6308275 739.090909,77.1075176 C751.573333,70.5842078 763.891515,70.5842078 776.045455,77.1075176 C788.199394,83.6308275 800.517576,83.6308275 813,77.1075176 L813,0 L0,0 L0,77.1075176 Z' id='background' fill='%23FFEFFD'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
	background-position: bottom;
	background-repeat: repeat-x;
	animation: shift-alt 30s linear infinite;
}
.sec2_nav .nav_W {
	box-sizing: border-box;
	display: flex;
	width: 80%;
	max-width: 1400px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}
.sec2_nav .nav_W a {
	display: none;
	font-weight: 700;
	font-size: 2rem;
	color: #FB00DB;
	background-image: none;
}
.sec2_nav .nav_W a:nth-child(odd) {
	font-weight: 300;
    font-size: 1.5rem;
    transition: all 0.5s;
}
.sec2_nav .nav_W a:nth-child(odd):hover{
    transform: scale(1.2);
}
.sec2_imogi {
	position: relative;
}
.sec2_imogi:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	width: 5rem;
	height: 5rem;
	margin-left: -2.5rem;
	background: url(../img/cont_imo.png)no-repeat;
	background-size: contain;
	animation: Simogi_H 1s infinite;
	z-index: -1
}
.sec2_nav .nav_W a:hover,
.Tnav span a:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300e5ff' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-size: auto 8px;
	background-position: bottom;
	background-repeat: repeat-x;
}
.sec2_nav .nav_W a:nth-child(2n):hover {
	-webkit-text-stroke-width: 1.2px;
	-webkit-text-stroke-color: #FB00DB;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.movet_bg {
	background-position: bottom;
	padding-bottom: 7px;
	margin-bottom: 24px;
	border-bottom-color: transparent;
	background-size: auto 10px;
	background-repeat: repeat-x;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300e5ff' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}
.sec2_mainT {
	position: relative;
	color: #FB00DB;
	text-align: center;
	z-index: 8;
}
.sec2_mainT h3 {
	font-size: 4.5rem;
	white-space: nowrap;
	font-weight: 800;
	display: inline-block;
	margin-bottom: 40px;
}
.sec2_mainT h3.movet_bg {
	background-position: bottom;
	padding-bottom: 14px;
	margin-bottom: 24px;
	border-bottom-color: transparent;
	background-size: auto 12px;
	background-repeat: repeat-x;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300e5ff' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}
.sec2_mainT span {
	display: inline-block;
	font-size: 5rem;

}
.sec2_mainT p {
	font-family: 'DungGeunMo';
	font-weight: 700;
	line-height: 1.4;
	font-size: 2.5rem;
	display: inline-block;
	white-space: nowrap;
}
.sec2_boxR {
	position: relative;
	text-align: center;
	box-sizing: border-box;
	z-index: 5;
}
.sec2_boxR .sec2_box_img {
	width: 100%;
	height: 800px;
	margin: 0 auto;
	background: url(../img/imgcont.png) repeat-x center;
	background-size: contain;
	filter: grayscale(36%) brightness(80%) sepia(78%) hue-rotate(-95deg) saturate(200%) contrast(0.9);
	animation: shift6 500s linear infinite;
}
.sec2_bg_text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 150px;
	transform: translate(-50%, -50%);
}
.sec2_bg_text .marquee-nav {
	animation-fill-mode: backwards;
	animation-duration: 17s;
}
.sec2_bg_text span {
	display: inline-block;
	margin-right: 70px;
	font-size: 7vw;
	letter-spacing: -5px;
	font-weight: 900;
	color: #FB00DB;
	filter: grayscale(36%) brightness(80%) sepia(78%) hue-rotate(-95deg) saturate(200%) contrast(0.9);
}
.sec2_bg_text span.plus {
	display: inline-block;
	animation: plus ease-in-out infinite;
	animation-direction: alternate;
	animation-duration: .5s;
	opacity: 0;
	filter: none;
}
@keyframes plus {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.sec2_bg_text .mov_txt1,
.sec2_bg_text .mov_txt2,
.sec2_bg_text .mov_txt3 {
	opacity: 0;
	transform: scale(3);
	transition: all .7s;
}
.sec2_bg_text .mov_txt1.visible,
.sec2_bg_text .mov_txt2.visible,
.sec2_bg_text .mov_txt3.visible {
	filter: none;
	opacity: 1;
	transform: scale(1);
	transition: all .7s;
}
/*-------------------------------------------------------*/
/*section3*/

#section3 .skill {
	position: relative;
	text-align: center;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto 100px;
}
#section3 .skill h3.sec3_t_bg {
	background-position: bottom;
	padding-bottom: 12px;
	margin-top: 5vw;
	display: inline-block;
}
.logo_W {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	padding-top: 5%;
}
.logo_W > div {
	position: relative;
	width: 13%;
	margin: 2% 1%;
	padding: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo_W .logo_S {
	width: 100%;
	filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-95deg) saturate(200%) contrast(.8);
	transition: all .1s ease-in;
	position: relative;
}
.logo_W > div:nth-of-type(4) li {
	margin-top: 69px;
}
.logo_W .logo_S:hover {
	filter: none;
	opacity: 1;
	animation: crt-flicker 3ms infinite;

}
.graph {
	width: 90%;
	height: 20px;
	background: #ccc;
	border-radius: 40px;
	margin-top: 50px;
}
.graph span {
	height: 100%;
	line-height: 20px;
	text-align: right;
	border-radius: 40px;
	box-sizing: border-box;
	display: block;
	width: 0%;
	font-size: 35px;
	font-weight: 300;
	background-color: palevioletred;
	color: rgb(51, 51, 51);
	opacity: 0;
}
.skillM_t {
	position: relative;
}
.skillM_t a {
	display: block;
	font-size: 140px;
	line-height: 1;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 10;
}
.see_ani {
	display: none;
	background: url(../img/loading1.gif) no-repeat;
	background-size: cover;
	background-position: top;
	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, 50%);
	z-index: 30;
}
.see_ani:before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 44%;
	width: 200px;
	height: 200px;
	transform: translate(-50%, -44%);
	background: url(../img/sec2_imogi.gif) no-repeat;
	background-size: contain;
	z-index: 30;
}
.skillM_t span {
	display: inline-block;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #FB00DB;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.skillM_t span:hover {
	-webkit-text-fill-color: #FB00DB;
}
.skillM_t span:hover:after {
	content: '';
	display: block;
	width: 500px;
	margin: 0 auto;
	height: 20px;
	background-position: bottom;
	border-bottom-color: transparent;
	background-size: auto 14px;
	background-repeat: repeat-x;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300e5ff' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}
/*-------------------------------------------------------*/
/*index7*/
/*#move_index*/
.X_click {
	position: fixed;
	right: 10px;
	top: 0;
	width: 110px;
	height: 110px;
	background-color: #361900;
	z-index: 50;
}
.X_click span {
	display: block;
	font-size: 80px;
	color: #fff;
	text-align: center;
	line-height: 1.4;
}
.nav_site_index {
	padding: 80px 0;
}
.nav_site_index a {
	display: inline-block;
	position: relative;
	z-index: 0;
}
.nav_site_index a .site_index {
	white-space: nowrap;
	padding-bottom: 3vw;
}
.nav_site_index .marquee-nav {
	position: relative;
	animation-play-state: paused;
}
.nav_site_index .marquee-nav:hover {
	animation-play-state: running;
}
.nav_site_index a .site_index span {
	background-color: transparent;
	font-size: 12vw;
	line-height: 10vw;
	-webkit-text-stroke-width: 0.15vw;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.ind_starbucks span {
	-webkit-text-stroke-color: #3BE47F;
}
.ind_cjw span {
	-webkit-text-stroke-color: #3BE4E4;
}
.ind_homedeco span {
	-webkit-text-stroke-color: #651FFF;
}
.ind_script span {
	-webkit-text-stroke-color: #ff004a;
}
.ind_contact span {
	-webkit-text-stroke-color: #FF8989;
}
.nav_site_index .pattern {
	display: inline-block;
	width: 0px;
	height: 0px;
	background-color: transparent;
	position: absolute;
	background-repeat: no-repeat;
	transition: opacity .2s ease-in;
	transition-property: height, width, color, background-color, opacity;
	opacity: 0;
	background-size: contain;
	background-position: center center;
}
.ind_starbucks:hover .marquee-nav span {
	-webkit-text-fill-color: #3BE47F;
}
.ind_cjw:hover .marquee-nav span {
	-webkit-text-fill-color: #3BE4E4;
}
.ind_homedeco:hover .marquee-nav span {
	-webkit-text-fill-color: #651FFF;
}
.ind_script:hover .marquee-nav span {
	-webkit-text-fill-color: #ff004a;
}
.ind_contact:hover .marquee-nav span {
	-webkit-text-fill-color: #FF8989;
}
.ind_starbucks:hover ~ .pattern {
    display: inline-block;
    width: 500px;
	height: 400px;
    background-image: url(../img/star_mov.gif);
    background-size: 100%;
	background-color: transparent;
    opacity: 1;
	z-index: 0;
}
.ind_cjw:hover ~ .pattern {
	display: inline-block;
	width: 300px;
	height: 400px;
    background-image: url(../img/cjw_mov.gif);
    background-size: contain;
	background-color: transparent;
	opacity: 1;
	z-index: 0;
}
.ind_homedeco:hover ~ .pattern {
	display: inline-block;
	width: 450px;
	height: 400px;
	background-image: url(../img/hasol_mov.gif);
    background-color: transparent;
    background-size: 100%;
	opacity: 1;
	z-index: 0;
}
.ind_script:hover ~ .pattern {
    display: inline-block;
    width: 300px;
	height: 300px;
    background-image: url(../img/sec4_imogi.gif);
    background-size: auto 100%;
	background-color: transparent;
    opacity: 1;
	z-index: 0;
}
.ind_contact:hover ~ .pattern {
	display: inline-block;
	opacity: 1;
	background-color: transparent;
	z-index: 0;
	background-image: url(../img/contact_mov.gif);
	background-size: 100%;
	background-position: 0 -150px;
	width: 800px;
	height: 200px;
}
/*#site*/

.slider {
	margin: 100px auto;
}
.slick-slide {
	margin: 0px 20px;
}
.slick-slide img {
	width: 100%;
}
.slick-prev:before,
.slick-next:before {
	color: black;
}
.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}
.slick-active {
	opacity: .5;
}
.slick-current {
	opacity: 1;
}
.monitor {
	height: 800px;
	background: url(../img/monitor.png) no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	position: relative;
	background-color: #282552;
	background-blend-mode: multiply;
}
.hiddenS {
	width: 910px;
	height: 550px;
	overflow: hidden;
	margin: 0 auto;
}
.scren {
	position: relative;
	width: 100%;
	margin: 40px auto 0;
	height: 2900px;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: left top;
	background-color: #282552;
	background-blend-mode: multiply;
}
.screnS {
	background-image: url(../img/starbucks.jpg);
}
.screnC {
	background-image: url(../img/cjw.jpg);
}
.screnH {
	background-image: url(../img/honsole.jpg);
}
.hiddenS:hover .screnS {
	animation: movetop ease-in-out infinite;
	animation-direction: alternate;
	animation-duration: 1.8s;
}
.hiddenS:hover .screnC {
	animation: movetopC ease-in-out infinite;
	animation-direction: alternate;
	animation-duration: 2.8s;
}
.hiddenS:hover .screnH {
	animation-name: movetopH;
	animation: movetopH ease-in-out infinite;
	animation-direction: alternate;
	animation-duration: 1.8s;
}
@keyframes movetop {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -1600px;
	}
}
@keyframes movetopC {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -2400px;
	}
}
@keyframes movetopH {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -1150px;
	}
}
.site_textW {
	margin: 6rem 0px 0px;
	width: 100%;
	position: relative;
	text-align: center;
}
.site_textW span:nth-of-type(1) {
	display: block;
	color: #999;
	font-weight: 300;
	font-size: 1.2rem;
}
.monitor .stext_w {
	padding-bottom: 20px;
}
.scren .stext_w b {
	font-size: 65px;
	line-height: 0;
}
.screnS .stext_w b {
	color: #3BE47F;
}
.screnC .stext_w b {
	color: #3BE4E4;
}
.screnH .stext_w b {
	color: #6B9DFE;
}

.monitor .s_stext {
	width: 100%;
	padding: 0 0 20px;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.5;
	color: #fff;
	white-space: nowrap;
	position: absolute;
	top: 6rem;
}
.monitor .screnC .s_stext {
	top: 8rem;
}
.monitor .screnH .s_stext {
	top: 8rem;
}
.monitor .s_stext span {
	display: inline-block;
	color: #fff;
	font-size: 1.3rem;
	font-weight: 300;
}
.monitor .num {
	color: rgba(0, 0, 0, 0.2);
	font-size: 300px;
	display: inline-block;
	white-space: nowrap;
	position: absolute;
	right: -45px;
	bottom: -100px;
}
.monitor .Snum {
	-webkit-text-stroke: 4px #3BE47F;
}
.monitor .Cnum {
	-webkit-text-stroke: 4px #3BE4E4;
}
.monitor .Hnum {
	-webkit-text-stroke: 4px #6B9DFE;
}
.monitor .button_w {
	position: absolute;
	left: 482px;
	top: 300px;
}
.monitor .button_w a:nth-child(2) {
	margin-left: 18px;
}
.button_w a {
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	letter-spacing: 2px;
	overflow: hidden;
	font-size: 18px;
	font-weight: 300;
	padding: 20px 20px 20px 15px;
}
.button_w a:hover {
	background: #3BE47F;
	color: #050801;
	box-shadow: 0 0 5px #3BE47F,
		0 0 25px #3BE47F,
		0 0 50px #3BE47F,
		0 0 200px #3BE47F;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.button_w a span {
	position: absolute;
	display: block;
}
.button_w a span:nth-child(1) {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #3BE47F);
	animation: btn1 1s linear infinite;
}
@keyframes btn1 {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}
}
.button_w a span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #3BE47F);
	animation: btn2 1s linear infinite;
	animation-delay: 0.25s;
}
@keyframes btn2 {
	0% {
		top: -100%;
	}

	50%,
	100% {
		top: 100%;
	}
}
.button_w a span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #3BE47F);
	animation: btn3 1s linear infinite;
	animation-delay: 0.50s;
}
@keyframes btn3 {
	0% {
		right: -100%;
	}

	50%,
	100% {
		right: 100%;
	}
}
.button_w a span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #3BE47F);
	animation: btn4 1s linear infinite;
	animation-delay: 0.75s;
}
@keyframes btn4 {
	0% {
		bottom: -100%;
	}

	50%,
	100% {
		bottom: 100%;
	}
}
.button_w.C_btn a span {
	background: #3BE4E4;
}

.button_w.C_btn a:hover {
	background: #3BE4E4;
	box-shadow: 0 0 5px #3BE4E4,
		0 0 25px #3BE4E4,
		0 0 50px #3BE4E4,
		0 0 200px #3BE4E4;
}
.button_w.H_btn a span {
	background: #6B9DFE;
}
.button_w.H_btn a:hover {
	background: #6B9DFE;
	box-shadow: 0 0 5px #6B9DFE,
		0 0 25px #6B9DFE,
		0 0 50px #6B9DFE,
		0 0 200px #6B9DFE;
}
/*view code 모달*/

.site_modal_wrap,
.site_modal_wrap1,
.site_modal_wrap2 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(40, 37, 82, .6);
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	z-index: 30;
}
.site_modal_wrap.open,
.site_modal_wrap1.open,
.site_modal_wrap2.open {
	opacity: 1;
	visibility: visible;
}
.site_modal {
	width: 50vw;
	display: none;
	margin: 50% 0 0 -24vw;
	position: relative;
	top: 61%;
	left: 49%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	z-index: 20;
}
.site_modal_wrap.open .site_modal,
.site_modal_wrap1.open .site_modal,
.site_modal_wrap2.open .site_modal {
	opacity: 1;
	display: block;
	margin-top: -500px;
}
.site_modal .btn_close {
	text-align: center;
	position: absolute;
	display: inline-block;
	right: -120px;
	top: -73px;
}
.site_modal .btn_close span {
	font-size: 85px;
	color: #fff;
}
.site_wrap {
	width: 100%;
}
.tab_wrap {
	width: 100%;
	margin: 0 auto;
}
.tab_wrap .tab_mode {
	overflow: hidden;
}
.tab_wrap .tab_btn {
	width: 100%;
}
.tab_wrap .tab_btn ul {
	overflow: hidden;
	width: 100%;
}
.site_modal_wrap .tab_wrap .tab_btn li,
.site_modal_wrap1 .tab_wrap .tab_btn li,
.site_modal_wrap2 .tab_wrap .tab_btn li {
	border: 3px solid #000;
	float: left;
	width: calc(20% + 2px);
	margin-right: 3px;
	text-align: center;
	margin-right: -3px;
	background: #fff;
	box-sizing: border-box;
}
.site_modal_wrap .tab_wrap .tab_btn li.active {
	background: #FB00DB;
}
.site_modal_wrap1 .tab_wrap .tab_btn li.active {
	background: #8F36FF;
}
.site_modal_wrap2 .tab_wrap .tab_btn li.active {
	background: #FF8718;
}
.tab_wrap .tab_btn li.active a {
	color: #fff;
}
.tab_wrap .tab_btn li:first-child {
	border-top-left-radius: 5px;
}
.tab_wrap .tab_btn li:last-child {
	border-top-right-radius: 5px;
}
.tab_wrap .tab_btn li a {
	font-weight: 500;
	display: block;
	font-size: 1.3rem;
	padding: 1rem 0;
}
.tab_wrap .tab_cont {
	overflow: hidden;
	position: relative;
	margin-right: 2px;
	margin-top: -3px;
	border: 3px solid #000;
	height: 600px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab_wrap .tab_cont > div {
	display: none;
}
.tab_wrap .tab_cont > div:nth-child(1) {
	display: block;
}
.tab_wrap .tab_cont > div pre.on {
	width: 100%;
	height: 74vh;
	background: #fff;
}
.toggle_wrapper {
	float: right;
}
.toggle {
	position: relative;
	display: inline-block;
}
#moon {
	position: absolute;
	left: 50%;
	top: 50%;
}
label.toggle_item {
	width: 115px;
	background: #fff;
	border: 3px solid #000;
	height: 50px;
	display: inline-block;
	border-radius: 50px;
	position: relative;
	transition: all .3s ease;
	transform-origin: 20% center;
	cursor: pointer;
	margin: 6px;
}
.moon_img {
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 5px;
	transition: .6s ease;
}
.moon_img > div {
	background: url(../img/moon.png) no-repeat;
	width: 3.5rem;
	height: 3.5rem;
	background-size: cover;
}
.moon_rollover label:before {
	content: none;
}
.moon_rollover label .moon_img {
	display: inline-block;
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	top: .25em;
	left: .2em;
	transition: .6s ease;
}
.moon_rollover label:before {
	content: '';
	position: absolute;
	border-color: white;
	background: white;
}
.tab_mode.on .moon_rollover .moon_img {
	transform: rotate(360deg);
	left: 57%;
}
.tab_mode.on .moon_rollover .moon_img > div {
	background-image: url(../img/moon_light.png);
}
.tab_mode.on .toggle_item {
	background: #ffffff;
}
/*script*/

#section6 .ani_bg {
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23FF6BE3' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-size: 100px 20px;
	background-repeat: repeat;
	background-position: 0 0;
	animation: shift 32s linear infinite;
	transition: none;
	height: 100%;
	padding: 10vw 0 14vw;
}
#section6 .sec6_T {
	font-size: 10vw;
	line-height: 1;
	overflow: hidden;
	display: flex !important;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	position: relative !important;
	padding-top: 1rem;
	letter-spacing: -.05em;
}
#section6 .sec6_T h3 {
	font-size: 10vw;
	color: #00E5FF;
	line-height: 1;
}
.ani_m {
	margin-bottom: 5px;
	position: relative;
	height: 12vw;
	font-size: 12vw;
}

.sec6_T.top-crop,
.sec6_T.bottom-crop {
	font-size: 10vw;
	height: 6vw;
	justify-content: flex-start;
	margin-bottom: .5rem;
	-webkit-text-stroke-color: #00E5FF;
	-webkit-text-stroke-width: 2.6px;
	-webkit-text-fill-color: transparent;
	line-height: 1;
}
.sec6_main {
	position: relative;
	padding: 11vw 0 2vw;
}
.sec6_nav {
	display: flex;
	width: 100%;
	text-align: center;
	margin: 0 auto 10px;
	justify-content: center;
	position: fixed;
	top: 0px;
	height: 9vh;
	white-space: nowrap;
	box-sizing: border-box;
	flex-direction: column;
	z-index: 10;
	background: none;
}

.sec6_nav .nav_W {
	box-sizing: border-box;
	display: flex;
	width: 70%;
	max-width: 1400px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}
.sec6_nav .nav_W a {
	display: none;
	font-weight: 700;
	font-size: 2rem;
	color: #ff004a;
	background-image: none;
}
.sec6_nav .nav_W a:nth-child(odd){
	font-size: 1.4rem;
	font-weight: 500;
	transition: all 0.5s;
}
.sec6_nav .nav_W a:nth-child(odd):hover{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF6BE3' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-size: auto 8px;
	background-position: bottom;
	background-repeat: repeat-x;
	transform: scale(1.2);
}
.sec6_nav .nav_W a:nth-child(2):hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF6BE3' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-size: auto 8px;
	background-position: bottom;
	background-repeat: repeat-x;
	-webkit-text-stroke-width: 1.2px;
	-webkit-text-stroke-color: #ff004a;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.sec6_nav.nav_scroll {
	background-color: transparent;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='813px' height='84px' viewBox='0 0 813 84' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3ewavy_nav0%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='wavy_nav' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Group'%3e%3cpath d='M0,77 C12.4824242,70.3333333 24.8006061,70.3333333 36.9545455,77 C49.1084848,83.6666667 61.4266667,83.6666667 73.9090909,77 C86.3915152,70.3333333 98.709697,70.3333333 110.863636,77 C123.017576,83.6666667 135.335758,83.6666667 147.818182,77 C160.300606,70.3333333 172.618788,70.3333333 184.772727,77 C196.926667,83.6666667 209.244848,83.6666667 221.727273,77 C234.209697,70.3333333 246.527879,70.3333333 258.681818,77 C270.835758,83.6666667 283.153939,83.6666667 295.636364,77 C308.118788,70.3333333 320.43697,70.3333333 332.590909,77 C344.744848,83.6666667 357.06303,83.6666667 369.545455,77 C382.027879,70.3333333 394.346061,70.3333333 406.5,77 C418.653939,83.6666667 430.972121,83.6666667 443.454545,77 C455.93697,70.3333333 468.255152,70.3333333 480.409091,77 C492.56303,83.6666667 504.881212,83.6666667 517.363636,77 C529.846061,70.3333333 542.164242,70.3333333 554.318182,77 C566.472121,83.6666667 578.790303,83.6666667 591.272727,77 C603.755152,70.3333333 616.073333,70.3333333 628.227273,77 C640.381212,83.6666667 652.699394,83.6666667 665.181818,77 C677.664242,70.3333333 689.982424,70.3333333 702.136364,77 C714.290303,83.6666667 726.608485,83.6666667 739.090909,77 C751.573333,70.3333333 763.891515,70.3333333 776.045455,77 C788.199394,83.6666667 800.517576,83.6666667 813,77' id='line' stroke='%23ff004a' stroke-width='3'%3e%3c/path%3e%3cpath d='M0,77.1075176 C12.4824242,70.5842078 24.8006061,70.5842078 36.9545455,77.1075176 C49.1084848,83.6308275 61.4266667,83.6308275 73.9090909,77.1075176 C86.3915152,70.5842078 98.709697,70.5842078 110.863636,77.1075176 C123.017576,83.6308275 135.335758,83.6308275 147.818182,77.1075176 C160.300606,70.5842078 172.618788,70.5842078 184.772727,77.1075176 C196.926667,83.6308275 209.244848,83.6308275 221.727273,77.1075176 C234.209697,70.5842078 246.527879,70.5842078 258.681818,77.1075176 C270.835758,83.6308275 283.153939,83.6308275 295.636364,77.1075176 C308.118788,70.5842078 320.43697,70.5842078 332.590909,77.1075176 C344.744848,83.6308275 357.06303,83.6308275 369.545455,77.1075176 C382.027879,70.5842078 394.346061,70.5842078 406.5,77.1075176 C418.653939,83.6308275 430.972121,83.6308275 443.454545,77.1075176 C455.93697,70.5842078 468.255152,70.5842078 480.409091,77.1075176 C492.56303,83.6308275 504.881212,83.6308275 517.363636,77.1075176 C529.846061,70.5842078 542.164242,70.5842078 554.318182,77.1075176 C566.472121,83.6308275 578.790303,83.6308275 591.272727,77.1075176 C603.755152,70.5842078 616.073333,70.5842078 628.227273,77.1075176 C640.381212,83.6308275 652.699394,83.6308275 665.181818,77.1075176 C677.664242,70.5842078 689.982424,70.5842078 702.136364,77.1075176 C714.290303,83.6308275 726.608485,83.6308275 739.090909,77.1075176 C751.573333,70.5842078 763.891515,70.5842078 776.045455,77.1075176 C788.199394,83.6308275 800.517576,83.6308275 813,77.1075176 L813,0 L0,0 L0,77.1075176 Z' id='background' fill='%23FFE9EF'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
	background-position: bottom;
	background-repeat: repeat-x;
	animation: shift-alt 30s linear infinite;
	background-size: auto 100%;
}
.sec6_main .container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
/* .script_w {
	width: 100%;
	margin: 0 auto;
	color: #ff004a;
	box-shadow: 5px 5px 0px 0px;
	border: 1px solid;
	border-radius: 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: inline-flex;
	height: 700px;
} */
.ha_study{
	display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.ha_study > div{
	position: relative;
    width: 19%;
    margin: 2% 3%;
    padding: 2% 1% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff004a;
    box-shadow: 5px 5px 0px 0px;
    border: 1px solid;
    border-radius: 0;
}
.ha_study li{
	text-align: center;
	width: 100%;
	position: relative;
}
.ha_study div li a{
	display: block;
    width: 100%;
	background: url(../img/slider_st1.png) no-repeat;
	background-size: cover;
	height: 17vh;
	background-position: center;
}
.ha_study div:nth-child(1) a{
    background-image: url(../img/slider_st1.png);
}
.ha_study div:nth-child(2) li a{
	display: block;
    background-image: url(../img/man_svg.png);
}
.ha_study div:nth-child(3) a, .ha_study div:nth-child(4) a, .ha_study div:nth-child(5) a{
	background-image: url(../img/prepare.png);
    height: 14vh;
}
.ha_study h5{
	display: inline-block;
	text-transform: capitalize;
	margin-top: 2vh;
	font-size: 1rem;
	border-bottom: 2px solid #ff004a;
}
.ha_study li p{
	display: block;
	margin-top: 1vh;
	font-size: 12px;
	font-weight: 500;
}

/*script code 모달*/
.site_modal_wrap3,
.site_modal_wrap4 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 229, 255, .6);
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	z-index: 30;
}
.site_modal_wrap3.open,
.site_modal_wrap4.open {
	opacity: 1;
	visibility: visible;
}
.site_modal {
	width: 50vw;
	display: none;
	margin: 50% 0 0 -24vw;
	position: relative;
	top: 61%;
	left: 49%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	z-index: 20;
}
.site_modal_wrap3.open .site_modal,
.site_modal_wrap4.open .site_modal {
	opacity: 1;
	margin-top: -500px;
	display: block;
}
.site_modal .btn_close {
	text-align: center;
	position: absolute;
	display: inline-block;
	right: -120px;
	top: -73px;
}
.site_modal .btn_close span {
	font-size: 85px;
	color: #fff;
}
.site_wrap {
	width: 100%;
}
.tab_wrap {
	width: 100%;
	margin: 0 auto;
}
.tab_wrap .tab_mode {
	overflow: hidden;
}
.tab_wrap .tab_btn {
	width: 100%;
}
.tab_wrap .tab_btn ul {
	overflow: hidden;
	width: 100%;
}
.tab_wrap .tab_btn li {
	border: 3px solid #000;
	float: left;
	width: calc(20% + 2px);
	margin-right: 3px;
	text-align: center;
	margin-right: -3px;
	background: #ACABAB;
	box-sizing: border-box;
}
.site_modal_wrap3 .tab_wrap .tab_btn li,
.site_modal_wrap4 .tab_wrap .tab_btn li {
	background: #aaf7ff;
}
.tab_wrap .tab_btn li.active {
	background: #ff004a;
}
.tab_wrap .tab_btn li.active a {
	color: #fff;
}
.tab_wrap .tab_btn li:first-child {
	border-top-left-radius: 5px;
}
.tab_wrap .tab_btn li:last-child {
	border-top-right-radius: 5px;
}
.tab_wrap .tab_btn li a {
	font-weight: 500;
	display: block;
	font-size: 1.5rem;
	padding: 1rem 0;

}
.tab_wrap .tab_cont {
	overflow: hidden;
	position: relative;
	margin-right: 2px;
	margin-top: -3px;
	border: 3px solid #000;
	height: 600px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab_wrap .tab_cont > div pre.on {
	width: 100%;
	height: 74vh;
	background: #fff;
}
label.toggle_item {
	width: 115px;
	background: #fff;
	border: 3px solid #000;
	height: 50px;
	display: inline-block;
	border-radius: 50px;
	position: relative;
	transition: all .3s ease;
	transform-origin: 20% center;
	cursor: pointer;
	margin: 6px;
}
#section7 {
	position: relative;
}
#section7 .container {
	padding-bottom: 6vh;
	padding-top: 12%;
}
#section7 h3 {
	font-size: 5vw;
	/* color: #fe4600;*/
	-webkit-text-stroke-width: 1.2px;
	-webkit-text-stroke-color: #fe4600;
	-webkit-text-fill-color: rgba(254, 70, 0, 0.5);
	padding-bottom: 8vw;
	text-align: center;
	overflow: hidden;
}
#section7 h3:after {
	content: '';
	display: block;
	height: 1rem;
	margin: 20px 20%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift 1s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234b00dd' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}
.contact_form {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.contact_form form {
	padding: 30px 40px 30px 35px;
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	box-shadow: 5px 5px 0px 0px rgba(254, 70, 0.15);
	border: 1px solid #fe4600;
	border-radius: 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
	box-sizing: border-box;

}
.contact_form label {
	font-size: 2.5rem;
	display: inline-flex;
	-webkit-text-stroke-width: 1.2px;
	-webkit-text-stroke-color: #fe4600;
	-webkit-text-fill-color: rgba(254, 70, 0, 0.5);
	padding-right: 2rem;
	justify-content: space-between;
}
.contact_form label:nth-of-type(3) {
	display: block;
	margin-top: 2rem;
}
.contact_form input {
	width: 30%;
	border: 0;
	background: transparent;
	font-size: 1.4rem;
	margin: 3rem 0;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234b00dd' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 3rem;
	padding-bottom: 2rem;
	background-size: auto 8px;
	background-repeat: repeat-x;
	text-transform: initial;
}
.contact_form input:nth-last-of-type(2) {
	width: 20%;
	margin-right: 4rem;

}
.contact_form ::-webkit-input-placeholder {
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #b077ff;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
	text-transform: none !important;
}
.contact_form input:nth-last-of-type(1) {
	width: 40%;
}
.contact_form textarea {
	display: inline-block;
	width: 90%;
	height: 36vh;
	margin-top: 1rem;
	font-size: 2rem;
	resize: none;
	border: 1px solid #4b00dd;
	box-shadow: 5px 5px #4b00dd;
	background: transparent;
	padding: 20px;
}
.contac_btn {
	display: inline-block;
	position: absolute;
	right: 20px;
	bottom: 0;
	margin-left: 20px;
	font-size: 3rem;
	color: #b077ff;
	background: transparent;
}
.contact_icon {
	text-align: left;
	margin-top: 4vw;
}
.contact_icon .contI {
	display: inline-block;
	width: 4.5vw;
	text-align: left;
	margin-right: 1.5em;
}
.contact_icon .contI:nth-of-type(1) {
	width: 6vw;
}
.nav_contact {
	display: flex;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 9vh;
	background: none;
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
	justify-content: center;
	flex-direction: column;
	transition: all .1s ease-in-out;
	z-index: 10;
}
.nav_contactW {
	display: flex;
	position: relative;
	width: 70%;
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
}
.navCont_scroll {
	margin: 0 auto 10px;
	background-color: transparent;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='813px' height='84px' viewBox='0 0 813 84' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3ewavy_nav0%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='wavy_nav' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Group'%3e%3cpath d='M0,77 C12.4824242,70.3333333 24.8006061,70.3333333 36.9545455,77 C49.1084848,83.6666667 61.4266667,83.6666667 73.9090909,77 C86.3915152,70.3333333 98.709697,70.3333333 110.863636,77 C123.017576,83.6666667 135.335758,83.6666667 147.818182,77 C160.300606,70.3333333 172.618788,70.3333333 184.772727,77 C196.926667,83.6666667 209.244848,83.6666667 221.727273,77 C234.209697,70.3333333 246.527879,70.3333333 258.681818,77 C270.835758,83.6666667 283.153939,83.6666667 295.636364,77 C308.118788,70.3333333 320.43697,70.3333333 332.590909,77 C344.744848,83.6666667 357.06303,83.6666667 369.545455,77 C382.027879,70.3333333 394.346061,70.3333333 406.5,77 C418.653939,83.6666667 430.972121,83.6666667 443.454545,77 C455.93697,70.3333333 468.255152,70.3333333 480.409091,77 C492.56303,83.6666667 504.881212,83.6666667 517.363636,77 C529.846061,70.3333333 542.164242,70.3333333 554.318182,77 C566.472121,83.6666667 578.790303,83.6666667 591.272727,77 C603.755152,70.3333333 616.073333,70.3333333 628.227273,77 C640.381212,83.6666667 652.699394,83.6666667 665.181818,77 C677.664242,70.3333333 689.982424,70.3333333 702.136364,77 C714.290303,83.6666667 726.608485,83.6666667 739.090909,77 C751.573333,70.3333333 763.891515,70.3333333 776.045455,77 C788.199394,83.6666667 800.517576,83.6666667 813,77' id='line' stroke='%23fe4600' stroke-width='3'%3e%3c/path%3e%3cpath d='M0,77.1075176 C12.4824242,70.5842078 24.8006061,70.5842078 36.9545455,77.1075176 C49.1084848,83.6308275 61.4266667,83.6308275 73.9090909,77.1075176 C86.3915152,70.5842078 98.709697,70.5842078 110.863636,77.1075176 C123.017576,83.6308275 135.335758,83.6308275 147.818182,77.1075176 C160.300606,70.5842078 172.618788,70.5842078 184.772727,77.1075176 C196.926667,83.6308275 209.244848,83.6308275 221.727273,77.1075176 C234.209697,70.5842078 246.527879,70.5842078 258.681818,77.1075176 C270.835758,83.6308275 283.153939,83.6308275 295.636364,77.1075176 C308.118788,70.5842078 320.43697,70.5842078 332.590909,77.1075176 C344.744848,83.6308275 357.06303,83.6308275 369.545455,77.1075176 C382.027879,70.5842078 394.346061,70.5842078 406.5,77.1075176 C418.653939,83.6308275 430.972121,83.6308275 443.454545,77.1075176 C455.93697,70.5842078 468.255152,70.5842078 480.409091,77.1075176 C492.56303,83.6308275 504.881212,83.6308275 517.363636,77.1075176 C529.846061,70.5842078 542.164242,70.5842078 554.318182,77.1075176 C566.472121,83.6308275 578.790303,83.6308275 591.272727,77.1075176 C603.755152,70.5842078 616.073333,70.5842078 628.227273,77.1075176 C640.381212,83.6308275 652.699394,83.6308275 665.181818,77.1075176 C677.664242,70.5842078 689.982424,70.5842078 702.136364,77.1075176 C714.290303,83.6308275 726.608485,83.6308275 739.090909,77.1075176 C751.573333,70.5842078 763.891515,70.5842078 776.045455,77.1075176 C788.199394,83.6308275 800.517576,83.6308275 813,77.1075176 L813,0 L0,0 L0,77.1075176 Z' id='background' fill='%23ffeae2'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
	background-position: bottom;
	background-size: auto 100%;
	background-repeat: repeat-x;
	animation: shift-alt 30s linear infinite;
}
.nav_contactW .contactN {
	position: relative;
	display: none;
	-moz-animation: vertical 1.5s 9999 ease 2s;
	-webkit-animation: vertical 1.5s 9999 ease 2s;
	-o-animation: vertical 1.5s 9999 ease 2s;
	-ms-animation: vertical 1.5s 9999 ease 2s;
	animation: vertical 1.5s 9999 ease 1.2s
}
.nav_contactW .contactN a {
	display: inline-block;
	width: 100%;
}
.nav_contactW .contactN:nth-child(odd) a{
	font-size: 4.5vh;
}
.nav_contactW:hover .contactN {
	animation: paused;
}
@keyframes vertical {
	0% {
		-webkit-transform: translate(0, -5px)
	}
	4% {
		-webkit-transform: translate(0, 3px)
	}
	8% {
		-webkit-transform: translate(0, -5px)
	}
	12% {
		-webkit-transform: translate(0, 5px)
	}
	16% {
		-webkit-transform: translate(0, -5px)
	}
	20% {
		-webkit-transform: translate(0, 3px)
	}
	22% {
		-webkit-transform: translate(0, 0)
	}
}
.arrow_box {
	display: none;
	position: absolute;
	padding: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #4900db;
	color: #fff;
	font-size: 14px;
	left: 50%;
	transform: translate(-50%, 50%);
}
.arrow_box:after {
	content: " ";
	position: absolute;
	bottom: 99%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -10px;
	border: solid transparent;
	border-color: rgba(75, 0, 221, 0);
	border-bottom-color: #4b00dd;
	border-width: 10px;
	pointer-events: none;
}
.nav_contactW a:hover + p.arrow_box {
	display: block;
	font-size: 1.5rem;
	text-transform: none;
	line-height: 2;
}
.nav_contactW a:hover + p.arrow_box span {
	display: block;
	font-family: 'DungGeunMo';
	font-size: 1.5rem;
	text-transform: none;
	line-height: 2;
}
.imogi_over {
	width: 6rem;
	height: 7rem;
	display: none;
	position: absolute;
	left: 45%;
	top: 0;
	animation: Simogi_H 1s infinite;
}
.nav_contactW  .haneul_imogi {
	font-size: 2rem;
	color: #fe4600;
	z-index: 5;
	position: relative;
	display: block;
}
.haneul_imogi:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 9'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234b00dd' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: bottom;
	background-size: auto 8px;
	background-repeat: repeat-x;
	-webkit-text-stroke-width: 1.2px;
	-webkit-text-stroke-color: #fe4600;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.haneul_imogi:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	width: 5rem;
	height: 5rem;
	margin-left: -2.5rem;
	background: url(../img/cont_imo.png)no-repeat;
	background-size: contain;
    animation: Simogi_H 1s infinite;
    z-index: -1;
}
@keyframes Simogi_H {
	0% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(10px);
	}
}
.heighttop {
	position: absolute;
	right: 100px;
	bottom: 30px;
    z-index: 2000;
    font-size: 70px;
}
.top_arrow_box {
	display: block;
	position: absolute;
	padding: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #4900db;
	color: rgba(255, 255, 255, 1);
	font-size: 1.5rem;
	text-transform: none;
	line-height: 2;
	left: 50%;
	transform: translate(-50%, 50%);
	top: -105px;
	animation: toptext 1s infinite;
}
.top_arrow_box:after {
	position: absolute;
	left: 50%;
	bottom: -19px;
	width: 0;
	height: 0;
	margin-left: -10px;
	transform: rotate(180deg);
	border: solid transparent;
	border-color: rgba(75, 0, 221, 0);
	border-bottom-color: #4b00dd;
	border-width: 10px;
	pointer-events: none;
	content: " ";
}
@keyframes toptext {
	0% {
		color: rgba(255, 255, 255, 0);
	}
	100% {
		color: rgba(255, 255, 255, 1);
	}
}
